@model IEnumerable<WebApp.Models.Duan>

@{
    ViewData["Title"] = "DuanIndex";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách các loại hình dự án</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
       @* <div class="row m-b-30">
            <div class="col-lg-8">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Duans" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm loại dình dự án </span></a>
            </div>
            <div class="col-lg-4 text-right">
            </div>
        </div>*@
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Mã dự án</th>
                        <th>Loại dự án</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.Maduan</h6>
                                        <h6 class="m-b-0 m-l-10">@item.Loaiduan</h6>
                                    </div>
                                </td>
                                <td>
                                    @*<a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="Duans" asp-action="Details" asp-route-id="@item.Maduan">Chi tiết</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="Duans" asp-action="Edit" asp-route-id="@item.Maduan">Sửa</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="Duans" asp-action="Delete" asp-route-id="@item.Maduan">Xóa</a>*@

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>